# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
# Test binaries
*.test
# Code coverage profiles and test artifacts
*.out
coverage.*
*.coverprofile
profile.cov
# Dependency directories (uncomment if using vendoring)
# vendor/
# Go workspace files
go.work
go.work.sum
# Environment files
env
.env
# IDE/Editor settings
idea/
vscode/
*.swp
#OS specific
*.DS_Store
#user data
**/uploads/
*.sqlite
*.db
#temporary files
*.tmp
*.log